@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background: lightgray;
  opacity: 0; /* Initially hidden */
  transform: translateY(50px); /* Slightly moved down */
  transition: opacity 1s ease, transform 1s ease;
}
.section.visible {
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* Moves to original position */
}
