*{
  /* padding: 0;
  margin: 0; */
  box-sizing: border-box;
}

body{
  font-family: Poppins, Consolas, "Courier New";
  display:flex;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.image-container{
  display: flex;
  width: 90vw;
}

.panel{
  display: flex;
  justify-content: center;
  align-items: center;  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
  border-radius:50px;
  color: #e4e4e4;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in-out;
  text-align: center;
}
.panel h3{
  /* font-size: 24px; */
  position: absolute;
  /* bottom: 20px; */
  /* left: 20px; */
  margin: 0;
  opacity: 0;
}

.text-background {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.4); 
    color: white;
    padding: 10px 20px;
    font-size: 1.5rem;
    border-radius: 5px; 
    width: 60%; 
    height: 60px;
    text-align: center;
}

.panel.active{
  flex:5;
}

.panel.active h3{
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media screen and (max-width:480px){
  .image-container{
    width: 100vw;
  }
  .panel:nth-of-type(4), 
  .panel:nth-of-type(5){
    display: none;
  }
  .text-background {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.4); 
    color: white;
    padding: 10px 20px;
    font-size: 1.5rem;
    border-radius: 5px; 
    width: 90%; 
    height: 120px;
    text-align: center;
}
}


.image1 {
background-image: url(./images/image1.jpg);
}

.image2{
  background-image: url(./images/image2.jpg);
}
.image3{
  background-image: url(./images/image3.jpg);
}

.image4{ 
  background-image: url(./images/image4.jpg);
}

.image5{ 
  background-image: url(./images/image5.jpg);
}